absl-py==1.4.0
accelerate==0.19.0
addict==2.4.0
aenum==3.1.12
ai21==1.0.5
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.18.0
altair==4.2.2
ansicolors==1.1.8
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==3.6.2
appdirs==1.4.4
argcomplete==3.0.5
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
arrow==1.2.3
astroid==2.7.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.0
auraloss==0.4.0
babel==2.12.1
backcall==0.2.0
backoff==2.2.1
basicsr==1.4.2
beautifulsoup4==4.11.2
bigvgan==0.0.1
bitarray==2.7.3
bitsandbytes-cuda111==0.26.0.post2
bitsandbytes==0.38.1
black==23.3.0
bleach==6.0.0
blendmodes==2022
blinker==1.6.2
bokeh==1.4.0
boltons==23.0.0
brotli==1.0.9
brotlipy==0.7.0
cachetools==5.3.0
cacheyou==23.3
cairo-lang==0.11.0.2
certifi==2022.12.7
cffi==1.15.1
chai-guanaco==1.0.0
chardet==4.0.0
charset-normalizer==3.1.0
clean-fid==0.1.35
click==8.1.3
clip-anytorch==2.5.2
clip==0.2.0
clldutils==3.19.0
cloudpickle==2.2.1
cmake==3.26.1
cohere==4.2.1
colorama==0.4.6
colored==1.4.4
coloredlogs==15.0.1
colorlog==6.7.0
comm==0.1.3
commonmark==0.9.1
conda-content-trust==0.1.3
conda-package-handling==2.0.2
conda-package-streaming==0.7.0
conda==23.3.1
configparser==5.3.0
contourpy==1.0.7
coqpit==0.0.17
coverage==7.2.3
cryptography==39.0.1
cssselect2==0.7.0
csvw==3.1.3
ctranslate2==3.13.0
cycler==0.11.0
cython==0.29.28
cytoolz==0.12.1
datasets==2.11.0
dateparser==1.1.8
debugpy==1.6.7
decorator==5.1.1
deepspeed==0.9.1
defusedxml==0.7.1
demucs==4.0.0
deprecation==2.1.0
diffq==0.2.3
diffusers==0.11.1
dill==0.3.6
distlib==0.3.6
dlinfo==1.2.1
docker-pycreds==0.4.0
docker==6.0.1
docopt==0.6.2
docstring-parser==0.15
dora-search==0.1.11
ecdsa==0.18.0
einops==0.6.1
entrypoints==0.4
eth-abi==4.0.0
eth-account==0.8.0
eth-hash==0.5.1
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.3.0
eth-utils==2.1.0
evaluate==0.4.0
exceptiongroup==1.1.1
executing==1.2.0
facexlib==0.3.0
fake-useragent==1.1.3
fastapi==0.94.0
fastchat==0.1
fastecdsa==2.3.0
fastjsonschema==2.16.3
fastt5==0.1.4
ffmpy==0.3.0
filelock==3.12.0
filterpy==1.4.5
findpython==0.2.5
fire==0.5.0
flask==2.2.3
flatbuffers==23.3.3
flexgen==0.1.7
font-roboto==0.0.1
fonts==0.0.3
fonttools==4.39.3
fqdn==1.5.1
freetype-py==2.3.0
frozendict==2.3.8
frozenlist==1.3.3
fschat==0.2.5
fsspec==2023.4.0
ftfy==6.1.1
future==0.18.3
fvcore==0.1.5.post20221221
g2pkk==0.1.2
gdown==4.7.1
gevent==22.10.2
geventhttpclient==2.0.2
gfpgan==1.3.8
gitdb==4.0.10
gitpython==3.1.31
google-auth-oauthlib==1.0.0
google-auth==2.17.2
googleapis-common-protos==1.59.0
gradio-client==0.1.3
gradio==3.23.0
greenlet==2.0.2
grpcio==1.53.0
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut==2.2.3
h11==0.14.0
h5py==3.8.0
hexbytes==0.3.0
hjson==3.1.0
html5lib==1.1
httpcore==0.17.2
httpx==0.24.0
huggingface-hub==0.14.1
humanfriendly==10.0
idna==2.10
ijson==3.1.4
imageio==2.30.0
importlib-metadata==6.6.0
inflect==6.0.4
inflection==0.5.1
iniconfig==2.0.0
install==1.3.5
installer==0.7.0
invisible-watermark==0.1.5
iopath==0.1.9
ipykernel==6.22.0
ipython-genutils==0.2.0
ipython==8.12.0
ipywidgets==8.0.6
isodate==0.6.1
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jamo==0.4.1
jedi==0.18.2
jieba==0.42.1
jinja2==3.1.2
joblib==1.2.0
json5==0.9.11
jsonlines==1.2.0
jsonmerge==1.9.0
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.17.3
julius==0.2.7
jupyter-client==8.2.0
jupyter-core==5.3.0
jupyter-events==0.6.3
jupyter-http-over-ws==0.0.8
jupyter-server-fileid==0.8.0
jupyter-server-terminals==0.4.4
jupyter-server-ydoc==0.8.0
jupyter-server==2.5.0
jupyter-ydoc==0.2.3
jupyterlab-pygments==0.2.2
jupyterlab-server==2.22.0
jupyterlab-widgets==3.0.7
jupyterlab==3.6.3
jwt==1.3.1
k-diffusion==0.0.14
kaldiio==2.18.0
kiwisolver==1.4.4
kornia==0.6.12
lameenc==1.4.2
langdetect==1.0.9
language-tags==1.2.0
lark==1.1.2
lazy-loader==0.2
lazy-object-proxy==1.9.0
librosa==0.8.1
lightning-utilities==0.8.0
linkify-it-py==2.0.0
lit==16.0.0
llama-cpp-python==0.1.36
llvmlite==0.39.1
lmdb==1.4.1
loralib==0.1.1
lpips==0.1.4
lru-dict==1.1.8
lxml==4.9.2
markdown-it-py==2.2.0
markdown2==2.4.8
markdown==3.4.3
markdownify==0.11.6
markupsafe==2.1.2
marshmallow-dataclass==8.5.14
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow==3.19.0
mashumaro==3.2
matplotlib-inline==0.1.6
matplotlib==3.7.1
mccabe==0.6.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
mecab-python3==1.0.5
mediapipe==0.9.3.0
mistune==2.0.5
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
munch==2.5.0
mypy-extensions==1.0.0
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.0
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==2.8.8
nh3==0.2.11
ninja==1.11.1
nltk==3.8.1
nose2==0.12.0
notebook-shim==0.2.2
notebook==6.5.3
num2words==0.5.12
numba==0.56.4
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==11.525.112
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
nvitop==1.0.0
oauthlib==3.2.2
omegaconf==2.2.3
onnx==1.13.1
onnxconverter-common==1.13.0
onnxruntime-tools==1.7.0
onnxruntime==1.14.1
open-clip-torch==2.19.0
openai==0.27.4
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
openunmix==1.2.1
openvino==2022.3.0
optimum-intel==1.8.0
optimum==1.8.2
orjson==3.8.10
packaging==23.0
pandas==2.0.2
pandocfilters==1.5.0
parallel-wavegan==0.5.5
parsimonious==0.9.0
parso==0.8.3
pathspec==0.11.1
pathtools==0.1.2
pdm==2.7.0
peft==0.4.0.dev0
pesq==0.0.4
pexpect==4.8.0
phonemizer==3.2.1
pickleshare==0.7.5
piexif==1.1.3
pillow==9.4.0
pip==21.3.1
pipdeptree==2.7.0
platformdirs==3.2.0
pluggy==1.0.0
pooch==1.7.0
portalocker==2.7.0
progress==1.6
progressbar==2.5
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==3.0.38
protobuf==3.20.2
protonup==0.1.5
psutil==5.9.4
ptyprocess==0.7.0
pulp==2.7.0
pure-eval==0.2.2
pwm==0.1.6
py-cpuinfo==9.0.0
py3nvml==0.2.7
pyarrow==11.0.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycairo==1.23.0
pycosat==0.6.4
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.8
pydeck==0.8.1b0
pydeprecate==0.3.2
pydub==0.25.1
pygments==2.15.1
pylatexenc==2.10
pylint==2.10.2
pympler==1.0.1
pynndescent==0.5.8
pyopenjtalk==0.3.0
pyopenssl==23.0.0
pyparsing==3.0.9
pypinyin==0.48.0
pyproject-hooks==1.0.0
pyre-extensions==0.0.29
pyrsistent==0.19.3
pysbd==0.3.4
pysocks==1.7.1
pytest-asyncio==0.21.0
pytest==7.3.1
python-crfsuite==0.9.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
python-multipart==0.0.6
python-rapidjson==1.10
pytorch-lightning==1.9.4
pytz-deprecation-shim==0.1.0.post0
pytz==2022.7
pywavelets==1.4.1
pyyaml==6.0
pyzmq==25.0.2
rdflib==6.3.2
realesrgan==0.3.0
regex==2023.3.23
reportlab==4.0.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requests==2.25.1
resampy==0.4.2
resize-right==0.0.2
resolvelib==1.0.1
responses==0.18.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3986==1.5.0
rich==13.4.1
rlp==3.0.0
rlpycairo==0.2.0
rotary-embedding-torch==0.2.3
rouge-score==0.1.2
rsa==4.9
ruamel.yaml.clib==0.2.6
ruamel.yaml==0.17.21
rwkv==0.7.3
sacrebleu==2.3.1
safetensors==0.3.0
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
scrypt==0.8.20
seaborn==0.12.2
segments==2.2.1
semantic-version==2.10.0
send2trash==1.8.0
sentencepiece==0.1.98
sentry-sdk==1.25.0
setproctitle==1.3.2
setuptools==65.6.3
shellingham==1.5.0.post1
shortuuid==1.0.11
simple-parsing==0.0.21.post1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.4
soxr==0.3.5
sqlalchemy==2.0.15
stack-data==0.6.2
starlette==0.26.1
stochasticx==0.0.19
streamlit==1.23.1
submitit==1.4.5
svglib==1.5.1
svgwrite==1.4.3
sympy==1.11.1
t2t-tuner==0.0.6
tabulate==0.9.0
tb-nightly==2.13.0a20230420
tenacity==8.2.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboard==2.12.1
tensorboardx==2.6
tensorflow-datasets==3.2.1
tensorflow-metadata==1.13.1
termcolor==2.2.0
terminado==0.17.1
tf2onnx==1.14.0
threadpoolctl==3.1.0
tifffile==2023.4.12
timm==0.6.7
tinycss2==1.2.1
tokenize-rt==5.1.0
tokenizers==0.13.3
tomesd==0.1.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.7
toolbox==0.1.0
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchdiffeq==0.2.3
torchlibrosa==0.0.7
torchmetrics==0.11.4
torchsde==0.2.5
torchvision==0.15.2
tornado==6.3.1
tortoise==3.0.0
tqdm==4.65.0
trainer==0.0.20
traitlets==5.9.0
trampoline==0.1.2
transformers==4.36.0
trash-cli==0.23.2.13.2
treetable==0.2.5
triton==2.0.0
tritonclient==2.27.0
tts==0.13.2
typeguard==2.13.3
typing-extensions==4.5.0
typing-inspect==0.8.0
typing==3.7.4.3
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.1
umap-learn==0.5.1
unearth==0.9.1
unicode==2.9
unidecode==1.3.6
unidic-lite==1.0.8
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.16
uvicorn==0.21.1
validators==0.20.0
virtualenv==20.23.0
voicefixer==0.1.2
wandb==0.15.3
watchdog==3.0.0
wavedrom==2.0.3.post3
wcwidth==0.2.6
web3==6.3.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.2
werkzeug==2.2.3
wget==3.2
wheel==0.37.1
widgetsnbextension==4.0.7
wrapt==1.12.1
xformer==1.0.1
xformers==0.0.19
xmltodict==0.13.0
xturing==0.1.1
xxhash==3.2.0
y-py==0.5.9
yacs==0.1.8
yapf==0.33.0
yarl==1.9.2
ypy-websocket==0.8.2
yq==3.2.1
zipp==3.15.0
zope.event==4.6
zope.interface==6.0
zstandard==0.19.0